.site-nav {
    padding: 1rem;    ;

    display: flex;
    gap: 1rem;
    width: 100%;

    align-items: center;
}

.site-nav a {
    color: #646464;
    font-weight: 400;
    font-family: "lilita one", sans-serif;
}

a[matButton] {
    background-color: #f8d89d;
}